*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build/
app/release/
app/debug/
app/src/main/assets/
app/src/main/jniLibs/
app/src/main/java/com/example/apphwgps/BuildConfig.java
app/src/main/java/com/example/apphwgps/R.java
app/src/main/res/values/ids.xml
app/src/main/res/values/public.xml
app/src/main/res/values/styles.xml
app/src/main/res/values/themes.xml
app/src/main/res/values-night/themes.xml
app/src/main/res/values-night/styles.xml
app/src/main/res/values-v23/themes.xml
app/src/main/res/values-v23/styles.xml
app/src/main/res/values-v24/themes.xml
app/src/main/res/values-v24/styles.xml
app/src/main/res/values-v25/themes.xml
app/src/main/res/values-v25/styles.xml
app/src/main/res/values-v26/themes.xml
app/src/main/res/values-v26/styles.xml
app/src/main/res/values-v27/themes.xml
app/src/main/res/values-v27/styles.xml
app/src/main/res/values-v28/themes.xml
app/src/main/res/values-v28/styles.xml
app/src/main/res/values-v29/themes.xml
app/src/main/res/values-v29/styles.xml
app/src/main/res/values-v30/themes.xml
app/src/main/res/values-v30/styles.xml
app/src/main/res/values-v31/themes.xml
app/src/main/res/values-v31/styles.xml
app/src/main/res/values-v32/themes.xml
app/src/main/res/values-v32/styles.xml
app/src/main/res/values-v33/themes.xml
app/src/main/res/values-v33/styles.xml
app/src/main/res/values-v34/themes.xml
app/src/main/res/values-v34/styles.xml
